services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mealbook_app
    restart: unless-stopped
    working_dir: /var/www
    env_file:
      - .env.production
    volumes:
      - .:/var/www
      - /home/mealbookafl/storage/app/public:/var/www/storage/app/public
    networks:
      - npm_default

  web:
    image: nginx:latest
    container_name: mealbook_web
    restart: unless-stopped
    expose:
      - "80"
    volumes:
      - .:/var/www
      - ./nginx:/etc/nginx/conf.d
    env_file:
      - .env.production
    depends_on:
      - app
    networks:
      - npm_default

networks:
  npm_default:
    external: true

volumes:
  npm_data:
  npm_letsencrypt:
